.idea
tests
/models/proto/protaugment-slurm.sh
runs_consistency
.venv
runs/
tmp/
**/__pycache__

# Company stuff
data/Lara-EN
utils/scripts/protaugment/run_protaugment-Lara.sh
transformer_models
paraphrase/fine-tune-BART/runs/
paraphrase/fine-tune-BART/all_results.json
